.btn {
  padding: 10px 20px;
  margin: 13px;
  background-color: white;
  color: #002b5b;
  font-size: 18px;
  font-weight: 600;
  border: 5px solid #002b5b;
  border-radius: 30px;
}

.btn:hover{
    background-color: #002b5b;
    color: white;
    transition: 0.3s all ease;
}
